 
div, h1,h2,h3,h4,h5,h6 {
    color: aqua;
    font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {
    margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #000000;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}
nav {
    color:white;

}
footer,a,i{
    color: aqua;
}
footer,i{
    size: 20px;
}
div,p,style{
    color: aqua;
}
.w3-quarter{
    color:rgb(0, 0, 0);
}
/* styles.css */

.w3-container {
    padding: 80px 16px;
  }
  
  #datetime {
    padding-left: 5px;
    font-size: 24px;
  }
